.begin-travel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* ממקם את כל התוכן במרכז */
    justify-content: center;
    /* ממקם את התוכן במרכז גם לגובה */
    padding: 40px 20px;
    background-color: #000;
    /* צבע הרקע חזר להיות שחור */
    color: white;
    /* צבע טקסט לבן כדי להתאים לרקע השחור */
    min-height: 100vh;
    text-align: center;
    /* ממקם את כל הטקסט במרכז */
}

button {
    background-color: #40E0D0;
    /* הצבע של הכפתור */
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    /* מרווח בין הכפתורים */
    width: 250px;
    /* רוחב קבוע לכפתור */
    max-width: 100%;
    /* לא יעבור את רוחב המסך */
    white-space: nowrap;
    /* מונע חיתוך טקסט לכמה שורות */
}

button:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 400px;
    /* רוחב מקסימלי לקלטים */
    margin-left: auto;
    margin-right: auto;
    /* ממקם את הקונטיינר במרכז */
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    background-color: #fff;
    color: #333;
}

/* הוסף את הסגנון הזה */
h3,
td {
    color: white;
}

* {
    direction: rtl;
}